nav {
    width:100%;
    background-color:#3e66ca;
}

ul {
    display:flex;    
    flex-direction:row;
    list-style:none;
    justify-content: center;
}
li{
    margin: 1rem;
}

li a {
    text-decoration:none;
    font-size:1.5rem;
    color:white;
    border: solid 2px black;
    padding: 1rem;
    
}
a:hover{
    color:black;
    background-color:#223566
}
footer{
    width:100%;
    text-align:center;
    position:absolute;
    bottom:0;
    // height:2.5rem;
}
main{
    text-align: center;
    padding-bottom: 156.8px; 
    // padding-bottom: 2.5rem; the height of the footer.
}
#heroImage{
    // background-image: ;
}
#contact-form{
    text-align: center;
    margin:auto;
    font-size:2rem;
    width:80%;
    height:60%;
    display:flex;
    flex-direction: column;
}